---
import MainLayout from '../layouts/MainLayout.astro'
import Link from '../components/Link.astro'
import PostCard from '../components/PostCard.astro'
import { Icon } from 'astro-icon/components'

import { formatPosts } from '../js/utils'

const allPosts = await Astro.glob("./blog/*.md")
const formattedPosts = formatPosts(allPosts, {
    limit: 3,
});
---

<MainLayout title = "Clément FABIEN">
    <section class:list={["container", "about"]} aria-label="About">
        <img src="/images/headshot.jpg" alt="My head" width="200" height="330" />
        <div class="content">
            <h1 class="h1">Clément Fabien</h1>
            <p>
                Hi! I am Clément.
                I am a 3rd year student in computer science engineering at EPITA.
                I have always been fascinated about computer science and programming.
                I also love to learn and discover new technologies!
            </p>
            <Link href='/about/' text='👋 About Me!' style='secondary' />

            <div class="icons">
                <a href='https://github.com/Clespy13' target="_blank" class:list={["linkIcon"]}><Icon class="icon" name="mdi:github" height={24} width={24}/></a>
                <a href='https://gitlab.com/clespy' target="_blank" class:list={["linkIcon"]}><Icon class="icon" name="mdi:gitlab" height={24} width={24} /></a>
                <a href='https://www.linkedin.com/in/cl%C3%A9ment-fabien-9a698124b/' target="_blank" class:list={["linkIcon"]}><Icon class="icon" name="mdi:linkedin" height={24} width={24} /></a>
            </div>
        </div>
    </section>
    <!--
    <section class="container" aria-label="Blog Posts">
        <h2 class="h1">Posts</h2>
        <div class="post-container">
        {
            formattedPosts.map((post) => <PostCard frontmatter={post.frontmatter} url={post.url} tagType="h3"/>)
        }
        </div>
    </section>
    -->
</MainLayout>

<style>
    .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        vertical-align: center;
        gap: 24px;
    }

    .linkIcon {
        border-radius: 50%;
        border-color: var(--hue);
        border-width: 2px;
        border-style: solid;
        width: 48px;
        height: 48px;
        display: flex;
    }

    .icon {
        margin: auto;
    }
</style>
