---
import { Icon } from 'astro-icon/components'
import navData from '../data/navData'
import Link from './Link.astro'
---

<nav aria-label="Primary">
    <div class="navbar">
        <Link href="/" text="Clément Fabien" style="primary" isFilled={false} />
        <ul>
            {
                navData.map((item) => <Link href={item.path} text={item.name} style='primary' isFilled={false} data-navlink data-astro-reload/>)
            }
        </ul>
    </div>
</nav>

<script>
    import "../js/nav.js"
</script>
